@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  src: url('./assets/Baloo_Bhaijaan_2/static/BalooBhaijaan2-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  src: url('./assets/Baloo_Bhaijaan_2/static/BalooBhaijaan2-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  src: url('./assets/Baloo_Bhaijaan_2/static/BalooBhaijaan2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  src: url('./assets/Baloo_Bhaijaan_2/static/BalooBhaijaan2-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Bhaijaan 2';
  src: url('./assets/Baloo_Bhaijaan_2/static/BalooBhaijaan2-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MyriadPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-SEMIBOLD.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-BOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-COND.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-CONDIT.OTF') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-BOLDCOND.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-BOLDCONDIT.OTF') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-SEMIBOLDIT.OTF') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/myriad-pro/MYRIADPRO-BOLDIT.OTF') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Raleway Font Family */
@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway/static/Raleway-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: 'Roboto', sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textSlide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-text-slide {
  animation: textSlide 1.2s ease-out;
}

/* Raleway Font Utility Classes */
@layer utilities {
  .font-raleway {
    font-family: 'Raleway', sans-serif;
  }
  
  .font-raleway-thin {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
  }
  
  .font-raleway-extralight {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
  }
  
  .font-raleway-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  
  .font-raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  
  .font-raleway-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }
  
  .font-raleway-semibold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  
  .font-raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }
  
  .font-raleway-extrabold {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
  }
  
  .font-raleway-black {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
  }
  
  .font-raleway-thin-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .font-raleway-extralight-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .font-raleway-light-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .font-raleway-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .font-raleway-medium-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .font-raleway-semibold-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .font-raleway-bold-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .font-raleway-extrabold-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .font-raleway-black-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}
